# All values are ranges, (min, max).
# If min = max is specified then it becomes an
# absolute value for that field and is allowed.

# Product level constraints
[Product1]
product_name = "Steel"
cost_range = 32.5, 36
profit_range = 12, 13.5
demand_range = 100, 150
budget_range = 4000, 5200
man_hour_per_unit = 2, 3
total_man_hours = 1200, 1500

[Product2]
product_name = "Brass"
cost_range = 45, 50
profit_range = 10, 12
demand_range = 80, 120
budget_range = 4000, 6000
man_hour_per_unit = 1.5, 2.5
total_man_hours = 1000, 1300

[Product3]
product_name = "Plastic"
cost_range = 100, 120
profit_range = 15, 20
demand_range = 50, 80
budget_range = 5000, 9000
man_hour_per_unit = 4, 5
total_man_hours = 800, 1000

# Global constraints
# These constraints are applied across all the products
# accumulatively to ensure that the aggregated solution 
# satisfies these bounds. Sometimes a slight voilation of these
# bounds may occur in order to honour an optimal feasible solution
# to acheive the objectives within product level bounds but this should
# be really minimal deviations. If the valkues are realistic then the
# voilations are least probable.
[Global]
global_budget = 12000, 20000
global_profit = 15, 20
global_man_hours = 3000, 4000

# Objectives and ranks, lower value has high importance.
# The commented objectives also can be mentioned but either
# maximize or minimize per objective, both cannot exist together
# for the same objective and at least one objective should be mentioned.
# The current configuration means that the algorithm will try to
# prioritize on maximsing the profit first and for that it may compromise
# with the resource usage and budget maximization but within the given
# range of values, iff necessary. Please choose your objectives and their 
# rankings well to get an optimal solution as per your goal. 
# Valid rank ranges 1 ~ 10, if a value is bigger than 10 then it will 
# be considered as 10.
[Objectives]
maximize_profit = 1
#minimize_profit = 1
maximize_resource_usage = 2
#minimize_resource_usage = 2
maximize_budget_usage = 3
#minimize_budget_usage = 3
